table{
	margin-top: 5px;
	width: auto;
}
td{
	text-align : center;
}
i{
	border-width:  1px;
	border-style:solid;
	 border-color:black;
	 background-color: #fff;
	 padding: 6px;
}
h3{
	margin-top: 50px;
}
.rech{
margin-left: 500px;
margin-top: 20px;
}
label{
	margin-right: 7px;
}
.btn{
	margin-right: 10px;
}
input.btn-info{
	margin-left: 700px;
	margin-top: 20px;	
}